[submodule "qhalz-design"]
	path = qhalz-design
	url = https://github.com/Aloure/qhalz-design
[submodule "fraktallar"]
	path = fraktallar
	url = https://github.com/Aloure/fraktallar
[submodule "2d-ray-marching"]
	path = 2d-ray-marching
	url = https://github.com/Aloure/2d-ray-marching
[submodule "wtodo"]
	path = wtodo
	url = https://github.com/Aloure/wtodo
