doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content="Hello. I'm Mustafa a self-taught full stack developer focusing on mainly web development. Hire me now!..")
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Mustafa B. Y覺ld覺z | My Portfolio

		//- STYLES
		link(rel='icon' href='images/pp.webp')
		link(rel='stylesheet' href='styles/global.sass')

	body
		//- HEADER
		link(rel='stylesheet' href='styles/header.sass')
		header
			div
				p Mustafa Y覺ld覺z
				br
				p Full Stack Developer

			nav
				a(href="mailto:flurach.dev@gmail.com") Mail Me
				a(href="https://gitlab.com/flurach/") Github
				a(href="#skills") Skills
				a(href="#projects") Projects

		//- SKILLS
		link(rel='stylesheet' href='styles/skills.sass')
		section#skills
			h3 My Skills
			.category
				h3 Languages
				ul.before-blue
					li HTML
					li CSS
					li Javascript
					li PHP
					li SQL
					li Python
					li C++
					li C
					li Rust
			.category
				h3 Databases
				ul.before-lime
					li MySQL
					li MongoDB
			.category
				h3 Tools
				ul.before-magenta
					li Git/Github
					li ReactJS
					li React Native
					li VueJS
					li Express
					li socket.io
					li NodeJS
					li APIs
					li REST APIs
					li jQuery

		//- PROJECTS
		link(rel='stylesheet' href='styles/projects.sass')
		section#projects
			h3 My Projects

			//- PROJECT LIST
			.grid
				.project
					img.displayable(src='images/pkosan.webp' alt='Project Image' loading='lazy')
					h4(href='https://pkosan.com/') Pkosan
					p E-Catalog website Pkosan Prefabrik
				.project
					img.displayable(src='images/kshort.webp' alt='Project Image' loading='lazy')
					h4(href='https://gitlab.com/flurach/kshort/') Kshort
					p My URL shortener

		//- SCRIPTS
		script(src='script.js')