doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content="Hello. I'm Mustafa a self-taught full stack developer focusing on mainly web development. Hire me now!..")
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Mustafa B. Y覺ld覺z | My Portfolio

		//- STYLES
		link(rel='icon' href='images/pp.webp')
		style
			include ../dist/styles/critical.css

	body
		//- GO BACK TO TOP
		img#go-top(src='icons/up-arrow.svg')

		nav
			a(href='#skills') SKILLS
			a(href='#projects') PROJECTS
			a(href='#about') ABOUT ME
			a(href='https://github.com/flurach/') GITHUB

		header
			div
				h1 Mustafa B. Y覺ld覺z
				h3 Full Stack Developer
				a(href='mailto:flurach.dev@gmail.com') CONTACT ME

		//- SKILLS
		link(rel='stylesheet' href='styles/skills.css')
		section#skills
			h3 My Skills
			.grid
				img(src='icons/react.svg' alt='React')
				img(src='icons/vue-dot-js.svg' alt='Vue.js')
				img(src='icons/node-dot-js.svg' alt='Node.js')
				img(src='icons/mongodb.svg' alt='MongoDB')
				img(src='icons/python.svg' alt='Python')
				img(src='icons/django.svg' alt='Django')
				img(src='icons/rust.svg' alt='Rust')
				img(src='icons/mysql.svg' alt='MySQL')
				img(src='icons/git.svg' alt='Git')
				img(src='icons/html5.svg' alt='HTML')
				img(src='icons/css3.svg' alt='CSS')
				img(src='icons/javascript.svg' alt='Javascript')

		//- PROJECTS
		link(rel='stylesheet' href='styles/projects.css')
		section#projects
			h3 My Projects
			.grid
				.project
					img(src='images/kshort.webp' alt='Project Image' loading='lazy')
					h4 Kshort
					p My URL shortener
					div
						a(href='https://github.com/flurach/kshort').source Source
						a(href='https://flurach-kshort.herokuapp.com').demo Demo
				.project
					img(src='images/message-app.webp' alt='Project Image' loading='lazy')
					h4 Message App
					p My own Messaging App
					div
						a(href='https://github.com/flurach/message-app').source Source
						a(href='https://flurach-chat.herokuapp.com').demo Demo
				.project
					img(src='images/readme.webp' alt='Project Image' loading='lazy')
					h4 Portfolio
					p My portfolio is open source!
					div
						a(href='https://github.com/flurach/portfolio').source Source
						a(href='https://flurach.herokuapp.com').demo Demo
		//- ABOUT ME
		link(rel='stylesheet' href='styles/about.css')
		section#about
			img(src='images/pp.jpg' alt='Profile Picture')
			h3 About Me
			p
				| My name is Mustafa.
				br
				| I live in Turkey/Ankara and I have been coding
				| since my childhood.
				| I like learning new stuff and tinkering with
				| technology. I'm self-taught.
			a(href='mailto:flurach.dev@gmail.com') CONTACT ME

		//- SOCIAL MEDIA LINKS
		link(rel='stylesheet' href='styles/social.css')
		section#social
			footer
				img(src='social-icons/instagram.svg' alt='instagram')
				img(src='social-icons/twitter.svg' alt='twitter')
				img(src='social-icons/reddit.svg' alt='reddit')

		//- SCRIPTS
		script(src='script.js')