doctype html

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='description' content="Hello. I'm Mustafa a self-taught full stack developer focusing on mainly web development. Hire me now!..")
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Mustafa B. Y覺ld覺z | My Portfolio

		//- STYLES
		link(rel='icon' href='images/pp.webp')
		if critical_css
			style !{critical_css}
		else
			link(rel='stylesheet' href='styles/critical.sass')

	body
		nav
			a(href="#skills") SKILLS
			a(href="#projects") PROJECTS
			a(href="https://gitlab.com/flurach/") GITLAB

		header
			div
				h1 Mustafa B. Y覺ld覺z
				h3 Full Stack Developer
				a(href="mailto:flurach.dev@gmail.com") CONTACT ME

		//- SKILLS
		link(rel='stylesheet' href='styles/skills.sass')
		section#skills
			h3 I know
			.grid
				img(src='icons/react.svg' alt='React')
				img(src='icons/vue-dot-js.svg' alt='Vue.js')
				img(src='icons/node-dot-js.svg' alt='Node.js')
				img(src='icons/mongodb.svg' alt='MongoDB')
				img(src='icons/python.svg' alt='Python')
				img(src='icons/django.svg' alt='Django')
				img(src='icons/rust.svg' alt='Rust')
				img(src='icons/mysql.svg' alt='MySQL')
				img(src='icons/git.svg' alt='Git')
				img(src='icons/html5.svg' alt='HTML')
				img(src='icons/css3.svg' alt='CSS')
				img(src='icons/javascript.svg' alt='Javascript')

		//- PROJECTS
		link(rel='stylesheet' href='styles/projects.sass')
		section#projects
			h3 And I have made...
			.grid
				.project
					img(src='images/kshort.webp' alt='Project Image' loading='lazy')
					h4(href='https://gitlab.com/flurach/kshort/') Kshort
					p My URL shortener

		//- SCRIPTS
		script(src='script.js')