* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: lighter;
	transition: .5s
}

::selection {
	color: white;
	background: #00c3ff
}

body, html {
	width: 100%;
	scroll-behavior: smooth;
	color: #444
}

header {
	display: flex;
	flex-direction: column;
	place-items: center;

	padding-top: 70px;
	width: 100%
}

#profile-photo {
	margin-bottom: 40px;
	width: 175px;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 17px 17px 60px -20px rgba(0,0,0,0.75)
}

header h1 {
	text-align: center;
	font-weight: 900;
	font-size: 33px;
	color: #444;
}

header h4 {
	text-align: center;
	font-weight: 400;
	color: #808080;
	font-size: 20px
}

#links {
	margin-top: 30px;
	display: flex;
	list-style: none
}

#links img {
	margin: 0px 10px;
	display: inline;
	width: 30px;
	opacity: .5;
	cursor: pointer
}

#links img:hover {
	opacity: 1;
	transform: scale(125%);
}

#img-displayer {
	position: fixed;
	top: 0;
	left: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	transition: .5s;
	background: #fff;
	z-index: 2000
}

#img-displayer img {
	margin: 10px;
	width: calc(100% * .75);
	box-shadow: 4px 4px 11px rgba(0, 0, 0, .15)
}

nav {
	padding: 50px 30px;
	width: calc(100% - 60px);
	text-align: center
}

nav p {
	padding-bottom: 20px;
	font-size: 30px
}

nav > div {
	width: 100%;
	display: flex;
	justify-content: center
}

nav > div a {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0 10px;
	padding: 5px 10px;
	width: 100px;

	text-decoration: none;
	font-weight: 400;
	color: dodgerblue;

	border-radius: 3px;
	border: 1px solid dodgerblue
}

nav div a:hover {
	background-color: dodgerblue;
	color: #fff
}

h3 {
	padding: 10px 0;
	font-size: 22px;
	text-decoration: underline dodgerblue;
}

section > h3 {
	text-align: center;
	font-size: 30px
}

#skills {
	padding: 50px 0;
	width: 100%;
}

#skills .category {
	padding: 30px
}

#skills .category ul {
	display: grid;
	grid-template-columns: repeat(3, auto)
}

#skills .category h3 {
	text-decoration: none
}

#skills .category ul li {
	list-style: none;
	color: gray;
	font-size: 15px;
	font-weight: 400;
	padding: 3px
}

#skills .category ul li::before {
	border-radius: 3px;
	content: "";
	display: inline-block;
	height: 10px;
	margin-right: .375rem;
	width: 10px
}

.before-blue li::before {
	background: #00bfff
}

.before-lime li::before {
	background: #32cd32
}

.before-magenta li::before {
	background: #ff00ff
}

#projects {
	padding: 50px 0
}

#projects .project {
	margin-top: 30px;
	width: 100%
}

#projects .project img {
	margin: 30px;
	margin-bottom: 0;
	width: calc(100% - 60px);
	border-radius: 5px;
	box-shadow: 4px 4px 11px rgba(0, 0, 0, .2);
	cursor: pointer
}

#projects .project h4 {
	padding: 5px;
	text-align: center;
	text-shadow: none;
	font-weight: 600;
	font-size: 22px;
	cursor: pointer;
	text-decoration: underline
}

#projects .project p {
	padding: 0 30px;
	text-align: center;
	font-weight: 300
}

@media only screen and (min-width:400px) {
	#skills .category ul li {
		font-size: 20px
	}
}

@media only screen and (min-width:650px) {
	#skills .category {
		padding: 30px
	}
	#skills .category ul {
		grid-template-columns: repeat(5, auto)
	}
	#skills .category ul li {
		font-size: 16px;
		font-weight: 600
	}
	#projects .grid {
		margin: 0 5%;
		display: grid;
		grid-template-columns: repeat(2, auto)
	}
}

@media only screen and (min-width:770px) {
	#img-displayer img {
		height: calc(100% * .75);
		width: auto;
	}
	header {
		padding: 30px 0
	}
	nav {
		display: table;
		height: 100%
	}
	#skills .category {
		padding: 30px 15%
	}
	#skills .category ul {
		grid-template-columns: repeat(5, auto)
	}
	#projects .grid {
		margin: 0 10%;
		grid-template-columns: repeat(3, auto)
	}
}

@media only screen and (min-width:1100px) {
	#skills .category {
		padding: 30px 25%
	}
	#skills .category ul {
		grid-template-columns: repeat(6, auto)
	}
	#projects .grid {
		margin: 0 15%
	}
}