*
	margin: 0px
	padding: 0px
	outline: none
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	transition: .25s, text-shadow 0s

html, body
	scroll-behavior: smooth
	color: #444

section
	margin: 50px 0px
	padding-top: 100px
	padding-bottom: 20px

	> h3
		text-align: center
		font-size: 30px

a
	text-decoration: none

header
	background: url('../images/wallpaper.webp') no-repeat center/cover
	background-attachment: fixed

	div
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: 100vh
		background: rgba(0, 0, 0, .25)
		text-shadow: 4px 4px 11px black
		text-align: center
		color: white

		a
			margin-top: 20px
			padding: 15px 40px
			width: 100px
			background: linear-gradient(to bottom right, skyblue, dodgerblue)
			text-shadow: 4px 4px 11px rgba(0, 0, 0, .5)
			box-shadow: 4px 4px 11px rgba(0, 0, 0, .5)
			border-radius: 5px
			color: inherit

		a:hover
			filter: brightness(120%)
	
nav
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	width: 100vw
	z-index: 1001
	text-shadow: 4px 4px 11px black

	a
		padding: 20px 15px
		font-weight: bold
		color: white

	a:hover
		background: white
		color: dodgerblue
		text-shadow: none

nav.bg
	background: dodgerblue
	box-shadow: 0px 4px 11px rgba(0, 0, 0, .15)
	color: white
	text-shadow: none