@keyframes im_here_nav
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes im_here_nav_a
	0%
		transform: translateX(-1000%)
	50%
		transform: translateX(-1000%)
	100%
		transform: translateX(0px)
		
	
nav
	position: fixed
	display: flex
	align-items: center
	justify-content: center
	width: 100vw
	background: rgba(255, 255, 255, .6)
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .25)
	z-index: 1001
	animation: im_here_nav 1.5s 1

	a
		padding: 20px 15px
		color: deepskyblue
		animation: im_here_nav_a 1.5s 1

	a:hover
		color: tomato