#projects
	.grid
		display: grid
		justify-content: center

		.project
			margin-top: 30px
			width: 100%

			img
				margin: 30px
				margin-bottom: 0px
				width: calc(100% - 60px)
				border-radius: 5px
				box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.2)

			h4
				padding: 5px
				text-align: center
				font-weight: 600
				font-size: 22px
				cursor: pointer
				text-decoration: underline

		p
			padding: 0 30px
			text-align: center
			font-weight: 300

@media only screen and (min-width: 768px)
	#projects .grid
		grid-template-columns: repeat(3, 27%)